<footer>
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/pratham-patel-0920-/" target="_blank"
        ><i class="fa-brands fa-linkedin" style="color: black"></i
      ></a>
      <a href="https://github.com/PrathamPatel25/HeavenEase" target="_blank"
        ><i class="fa-brands fa-github" style="color: black"></i
      ></a>
    </div>
    <div class="f-info-brand">&copy; HeavenEase Private Limited</div>
    <div class="f-info-links">Terms & Conditions</div>
  </div>
</footer>
